.project-images img{
  max-width: 180px;
  margin-left: 3px;
  float:right;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.project-images img > a{
  cursor: pointer;
}
.project-links:last-child{
  margin-left: 10px;
}

@media screen and (max-width: 767px){
  .project-images img{
    max-width: 150px;
    margin-left: 3px;
    float:right;
    border: 1px solid #ccc;
  }
}
